<!-- <!DOCTYPE html> -->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/app.js" defer></script>
		<title>1942 | Space</title>
	</head>
	<body>
		<section id="frame">
			<div id="scores"></div>
			<div id="players"></div>
			<div id="bullets"></div>
			<div id="enemies"></div>
			<div id="explosions"></div>
			<div id="boss"></div>
			<div id="boss_explode"></div>
		</section>
		<!-- <iframe
			width="420"
			height="315"
			src="https://www.youtube.com/embed/Ccf2oL_Hbs4?controls=1&loop=1&autoplay=1"
			allowfullscreen
			allow="autoplay"
			frameborder="0"
		>
		</iframe> -->
	</body>
</html>
